<!DOCTYPE html>
<html lang='es' ng-app='miti'>

<head>
	<meta charset='utf-8'>
	<meta content='IE=edge' http-equiv='X-UA-Compatible'>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
	<meta
		content='Somos una comunidad de empresas tecnológicas chilenas, que buscamos subir la vara de la industria nacional a través de la excelencia en la generación de valor, entornos humanos y desarrollos tecnológicos.'
		name='description'>
	<meta content='keyword,s' name='keywords'>
	<meta content='MITI' name='author'>
	<meta content='0000000' property='fb:app_id'>
	<meta content='http://www.miti.cl' property='og:url'>
	<meta content='Mejor Industria TI' property='og:title'>
	<meta content='http://www.miti.cl/img/logo_box.png' property='og:image'>
	<meta
		content='Somos una comunidad de empresas tecnológicas chilenas, que buscamos subir la vara de la industria nacional a través de la excelencia en la generación de valor, entornos humanos y desarrollos tecnológicos.'
		property='og:description'>
	<link href='img/favicon.ico' rel='shortcut icon'>
	<link href="css/all.css?1659031168" rel="stylesheet" type="text/css" />
	<link crossorigin='anonymous' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'
		rel='stylesheet'>
	<title>
		MITI
	</title>
	<!--[if lt IE 9]> <script src="js/ie8-responsive-file-warning.js"></script> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"> </script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->
</head>

<body class='index'>
	<header class='navbar navbar-fixed-top section nopt nopb nobb' id='header' role='banner'>
		<div class='container nopl nopr'>
			<button class='navbar-toggle' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<!-- Start Navigation -->
			<h1 class='logo'>
				<a href='index.html'></a>
			</h1>
			<nav class='collapse navbar-collapse bs-navbar-collapse navbar-right' role='navigation'>
				<ul class='nav navbar-nav'>
					<li>
						<a class='nosotros' href='#inicio'>Inicio</a>
					</li>
					<li>
						<a class='casos' href='#nosotros'>Nosotros</a>
					</li>
					<li>
						<a class='testimonios' href='#manifiesto'>Manifiesto</a>
					</li>
					<li>
						<a class='clientes' href='#casos'>Startups</a>
					</li>
					<li>
						<a class='beneficios' href='#beneficios'>Beneficios</a>
					</li>
					<li>
						<a class='directorio' href='#directorio'>Directorio</a>
					</li>
					<li>
						<a class='contacto' href='#contacto'>Contacto</a>
					</li>
					<li>
						<a class='blog' href='https://medium.com/mejorindustriati'>Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section class='section tp-banner-container' id='inicio'>
		<div class='tp-banner'>
			<ul>
				<li data-duration='12000' data-masterspeed='700' data-slotamount='5' data-transition='fade'>
					<img alt='slidebg1' data-bgfit='cover' data-bgposition='30% 40%' data-bgrepeat='no-repeat'
						src='img/fondo.jpg'>
					<div class='tp-caption boxllamado col-lg-6 col-md-6' data-captionhidden='on' data-endspeed='300'
						data-speed='800' data-start='800' data-x='0' data-y='275'>
						<h2>
							Asociación por una
							<br>
							MEJOR
							<b>INDUSTRIA TI</b>
						</h2>
						<p>
							Somos una comunidad de empresas tecnológicas chilenas,
							<br>
							que buscamos subir la vara de la industria nacional a través de la excelencia
							<br>
							en la generación de valor, entornos humanos y desarrollos tecnológicos.
						</p>
					</div>
					</img>
				</li>
			</ul>
		</div>
	</section>

	<!--
Manifiesto
==================================================
-->
	<section class='section' id='manifiesto'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12 centrado nofloat'>
					<div class='overview'>
						<h3 class='animate' data-animate='fadeInUp'>
							Nuestros principios
						</h3>
						<div class='tabla'>
							<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 content-manifiesto'>
								<div class='ico-manifiesto animate' data-animate='flipInX'>
									<img alt='' src='img/manifiesto/ico-5.png'>
								</div>
								<h6 class='animate' data-animate='fadeInUp'>
									Aporte a los clientes
								</h6>
								<p class='animate' data-animate='fadeInUp'>
									Generamos valor temprano y continuamente a nuestros clientes mediante una interacción transparente y
									sencilla, buscando siempre una validación temprana del impacto de las soluciones al problema de
									nuestros clientes.
								</p>
							</div>
							<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 content-manifiesto'>
								<div class='ico-manifiesto animate' data-animate='flipInX'>
									<img alt='' src='img/manifiesto/ico-3.png'>
								</div>
								<h6 class='animate' data-animate='fadeInUp'>
									Valor de las personas
								</h6>
								<p class='animate' data-animate='fadeInUp'>
									Creemos que el mundo de las tecnologías requiere profesionales realmente dedicados y experimentados.
									Es por esto que buscamos dar el máximo apoyo a nuestros talentos para avalar una industria con líderes
									técnicos competentes y equipos sólidos, motivados y constantes en el tiempo.
								</p>
							</div>
							<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12 content-manifiesto'>
								<div class='ico-manifiesto animate' data-animate='flipInX'>
									<img alt='' src='img/manifiesto/ico-4.png'>
								</div>
								<h6 class='animate' data-animate='fadeInUp'>
									Excelencia Técnica
								</h6>
								<p class='animate' data-animate='fadeInUp'>
									Nuestro quehacer está en la permanente búsqueda y aplicación de tecnologías funcionales y fáciles de
									usar, en constante mejoramiento de las últimas tendencias en TI.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--
==================================================
End Manifiesto
-->
	<!--
Nosotros
==================================================
-->
	<section class='section nopb' id='nosotros'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-8 centrado nofloat'>
					<div class='overview'>
						<h3 class='text-white animate' data-animate='fadeInUp'>
							Nosotros
						</h3>
						<p class='animate' data-animate='fadeInUp'>
							MITI es una asociación que genera espacios abiertos y de colaboración entre todas las empresas. Uno puede
							compartir los desafíos por los que está pasando y recibes de vuelta respuestas de personas que están con
							los mismo desafíos o ya los solucionaron. Todos crecemos en conjunto en comunidad y nos damos soporte.
						</p>
						<h6 class='animate' data-animate='fadeIn'>
							Empresas Asociadas
						</h6>
						<a class='btn btn-default btn-lg animate' href='https://miti.clutch.co/directory'>
							<span class='show-normal'>Aquí los perfiles de nuestras empresas asociadas</span>
							<span class='show-mobile'>Aquí los perfiles de los asociados</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class='container-fluid content-empresas'>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://www.continuum.cl'>
							<img alt='Continuum' class='img-responsive' src='img/empresas/logo-1.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://www.2brains.cl'>
							<img alt='2Brains' class='img-responsive' src='img/empresas/logo-2brains.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://www.acid.cl/?utm_source=referral&amp;utm_medium=alliance&amp;utm_campaign=miti'>
							<img alt='Acid Labs' class='img-responsive' src='img/empresas/logo-acidlabs.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://magnet.cl'>
							<img alt='Magnet' class='img-responsive' src='img/empresas/logo-5.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://linets.cl/'>
							<img alt='Linets' class='img-responsive' src='img/empresas/logo-9.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://www.leansight.com'>
							<img alt='LeanSight' class='img-responsive' src='img/empresas/logo-11.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://www.devartisan.cl/'>
							<img alt='DevArtisan' class='img-responsive' src='img/empresas/logo-devartisan.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://www.zentagroup.com/'>
							<img alt='Zenta' class='img-responsive' src='img/empresas/logo-zenta.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://baufest.com'>
							<img alt='Baufest' class='img-responsive' src='img/empresas/baufest.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://karibu.cl/'>
							<img alt='Karibu' class='img-responsive' src='img/empresas/karibu.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://zembia.cl/'>
							<img alt='Zembia' class='img-responsive' src='img/empresas/logo-zembia.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='http://labs.jumpitt.com/'>
							<img alt='JumpittLabs' class='img-responsive' src='img/empresas/logo-jumpittlabs.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://23people.io/'>
							<img alt='23people' class='img-responsive' src='img/empresas/23people.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://tcit.cl/'>
							<img alt='TCIT' class='img-responsive' src='img/empresas/logo-tcit.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://www.percus.cl/'>
							<img alt='Percus' class='img-responsive' src='img/empresas/logo-percus.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='https://www.somosforma.com/'>
							<img alt='Forma' class='img-responsive' src='img/empresas/logo-forma.png'>
						</a>
					</div>
				</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-12 content-logo animate' data-animate='fadeIn'>
				<div class='responsive-container'>
					<div class='dummy'></div>
					<div class='img-container'>
						<div class='centrado'></div>
						<a href='#contacto'>
							<img alt='Únete al equipo' class='img-responsive' src='img/empresas/logo-unete.png'>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--
==================================================
End Nosotros
-->
	<!--
Startups
==================================================
-->
	<section class='section' id='casos'>
		<div class='container'>
			<div class='overview centrado nofloat'>
				<h3 class='animate' data-animate='fadeInUp'>
					Startups creadas en empresas MITI
				</h3>
				<h6 class='text-grey text-center animate' data-animate='fadeInUp'>
					Son cada vez más las empresas de tecnología que generan ventures aprovechando el conocimiento técnico y la
					experiencia que van desarrollando en la industria. A la fecha, MITI cuenta con 23 startups nacidas de las
					distintas empresas asociadas. Una demostración empírica de la capacidad de innovación y ejecución.
				</h6>
			</div>
			<div class='row startups-div'>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://academiaagil.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/academia-agil.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Formacion en Lean y Agile para toda latinoamerica.
					</h6>
					<p class='text-right'>
						by
						LeanSight
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.primerocotiza.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/primerocotiza.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Generación de leads con un modelo publicitario colaborativo.
					</h6>
					<p class='text-right'>
						by
						Jumpitt Labs
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://aimmanager.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/aim.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Ahorramos costos y tiempo en la operación diaria de grandes espacios de retail.
					</h6>
					<p class='text-right'>
						by
						Acid Labs
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.titvo.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/titvo.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Herramientas para el proceso de escucha activa de los clientes.
					</h6>
					<p class='text-right'>
						by
						Karibú
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='http://www.jidoit.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/jidoit.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Servicio de automatización de procesos.
					</h6>
					<p class='text-right'>
						by
						Karibú
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.magnet.cl'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/formy.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Levantamiento de información en terreno.
					</h6>
					<p class='text-right'>
						by
						Magnet
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.pruebatelo.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/pruebatelo.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Prueba la ropa y calzado en tu casa antes de comprar.
					</h6>
					<p class='text-right'>
						by
						Continuum
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://reveniu.com'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/reveniu.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Plataforma de cobro de suscripción
					</h6>
					<p class='text-right'>
						by
						Continuum
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.medu.academy/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/medu.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Cursos online de innovación, diseño y tecnología para personas y empresas.
					</h6>
					<p class='text-right'>
						by
						Continuum
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://getonbrd.com'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/getonbrd.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Plataforma de reclutamiento tecnológico, líder en Lationamérica.
					</h6>
					<p class='text-right'>
						by
						Continuum
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://contable.app'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/contable.svg'>
						</div>
					</a>
					<h6 class='text-right'>
						Contabilidad simple e inteligente para microempresas.
					</h6>
					<p class='text-right'>
						by
						2Brains
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://vps.guru'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/vps-guru.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Servidores virtuales de bajo costo.
					</h6>
					<p class='text-right'>
						by
						Linets
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://beebop.cloud'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/beebop.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Nube pública que asegura escabilidad y eslasticidad.
					</h6>
					<p class='text-right'>
						by
						Linets
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://zoco.cl'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/zoco.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Plataforma que optimiza publicaciones en MercadoLibre.
					</h6>
					<p class='text-right'>
						by
						Linets
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.zentagroup.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/witia.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Mejora de productividad y automatización, haciendo toma de decisiones informadas.
					</h6>
					<p class='text-right'>
						by
						Zenta
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.ensicloud.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/ensicloud.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Digitalizar gestión y manejo de residuos en industria salmonera.
					</h6>
					<p class='text-right'>
						by
						Zembia
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.agri.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/agri.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Sistema de gestión agrícola.
					</h6>
					<p class='text-right'>
						by
						TCIT
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.likit.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/likit.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Sistema de recursos humanos y liquidaciones de sueldos automáticas.
					</h6>
					<p class='text-right'>
						by
						TCIT
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.pakit.cl/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/pakit.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Control de gestión de packing y procesos de post-cosecha.
					</h6>
					<p class='text-right'>
						by
						TCIT
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.grabit.cl'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/grabit.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Toma de datos en terreno
					</h6>
					<p class='text-right'>
						by
						TCIT
					</p>
				</div>
				<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 content-caso animate' data-animate='fadeInUp'>
					<a href='https://www.bikfy.com/'>
						<div class='content-img'>
							<img alt='' class='img-responsive' src='img/startups/bikfy.png'>
						</div>
					</a>
					<h6 class='text-right'>
						Ecosistema para ciclistas
					</h6>
					<p class='text-right'>
						by
						TCIT
					</p>
				</div>
			</div>
		</div>
	</section>
	<!--
==================================================
End Startups
-->
	<!--
Benefits
==================================================
-->
	<section class='section' id='beneficios'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12 centrado nofloat'>
					<div class='text-center'>
						<h3 class='animate' data-animate='fadeInUp'>
							Beneficios de unirse a MITI
						</h3>
						<div class='container'>
							<div class='col-md-12 content-manifiesto'>
								<h4 class='animate' data-animate='fadeInUp'>
									Pertenecer a una comunidad de empresas de excelencia.
								</h4>
							</div>
							<div class='col-md-12 content-manifiesto'>
								<h4 class='animate' data-animate='fadeInUp'>
									Aportar conocimiento y experiencia para tu negocio.
								</h4>
							</div>
							<div class='col-md-12 content-manifiesto'>
								<h4 class='animate' data-animate='fadeInUp'>
									Convenios MITI.
								</h4>
							</div>
							<div class='col-md-12 content-manifiesto'>
								<h4 class='animate' data-animate='fadeInUp'>
									Elevar el estándar de la industria TI.
								</h4>
							</div>
							<div class='col-md-12 content-manifiesto'>
								<h4 class='animate' data-animate='fadeInUp'>
									Mayor posicionamiento en la industria y el mercado.
								</h4>
							</div>
						</div>
					</div>
					<p class='text-center'>
						Estos tres puntos se concretan, en los encuentros y comunicación constante con las empresas asociadas, donde
						tanto los socios como miembros de los equipos participan activamente compartiendo conocimiento y mejores
						prácticas en torno a distintas temáticas de interés. Actualmente tenemos 6
						<strong>mesas de trabajo:</strong>
					</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Personas
					</h4>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Operaciones
					</h4>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Marketing & Ventas
					</h4>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Startups
					</h4>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Administración & Finanzas
					</h4>
				</div>
				<div class='col-xs-12 col-sm-6 col-md-4'>
					<h4 class='tables'>
						Liderazgo
					</h4>
				</div>
			</div>
		</div>
	</section>
	<!--
==================================================
End Benefits
-->
	<hr>
	<!--
Directorio
==================================================
-->
	<section class='section' id='directorio'>
		<div class='container'>
			<div class='row directores'>
				<div class='overview'>
					<h3 class='animate' data-animate='fadeInUp'>Directorio</h3>
					<div class='col-xs-12 col-sm-6 col-md-2 col-lg-2'>
						<h6 class='animate' data-animate='fadeInUp'>
							Alma Negrete Shen
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Presidente
						</p>
						<p class='bold animate' data-animate='fadeInUp'>
							Fundadora de DevArtisan
						</p>
						<p class='animate' data-animate='fadeInUp'>
							alma@devartisan.cl
						</p>
					</div>
					<div class='col-xs-12 col-sm-6 col-md-2 col-lg-2'>
						<h6 class='animate' data-animate='fadeInUp'>
							Ricardo Jara Alvarez
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Vicepresidente
						</p>
						<p class='bold animate' data-animate='fadeInUp'>
							Director de Continuum
						</p>
						<p class='animate' data-animate='fadeInUp'>
							ricardo.jara@continuum.cl
						</p>
					</div>
					<div class='col-xs-12 col-sm-6 col-md-2 col-lg-2'>
						<h6 class='animate' data-animate='fadeInUp'>
							Tomás Charad Torres
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Secretario
						</p>
						<p class='bold animate' data-animate='fadeInUp'>
							CEO de TCIT
						</p>
						<p class='animate' data-animate='fadeInUp'>
							tomas@tcit.cl
						</p>
					</div>
					<div class='col-xs-12 col-sm-6 col-md-2 col-lg-2'>
						<h6 class='animate' data-animate='fadeInUp'>
							Felipe Contreras
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Tesorero
						</p>
						<p class='bold animate' data-animate='fadeInUp'>
							Director de Karibu
						</p>
						<p class='animate' data-animate='fadeInUp'>
							felipe.contreras@karibu.cl
						</p>
					</div>
					<div class='col-xs-12 col-sm-6 col-md-2 col-lg-2'>
						<h6 class='animate' data-animate='fadeInUp'>
							Adrián Lasso
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Director
						</p>
						<p class='bold animate' data-animate='fadeInUp'>
							Vicepresidente de Baufest
						</p>
						<p class='animate' data-animate='fadeInUp'>
							alasso@baufest.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--
Gerente
==================================================
-->
	<section class='section' id='gerente'>
		<div class='container'>
			<div class='row gerente'>
				<div class='overview'>
					<h3 class='animate' data-animate='fadeInUp'>Equipo MITI</h3>
					<div class='justify-content-center'>
						<h6 class='animate' data-animate='fadeInUp'>
							Fabiola Sáenz Ramírez
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Gerente
						</p>
						<p class='animate' data-animate='fadeInUp'>
							fabiola@miti.cl
						</p>
					</div>
					<div class='justify-content-center'>
						<h6 class='animate' data-animate='fadeInUp'>
							Ámbar Araneda
						</h6>
						<p class='bold animate' data-animate='fadeInUp'>
							Comunicaciones
						</p>
						<p class='animate' data-animate='fadeInUp'>
							ambar@miti.cl
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--
Contacto
==================================================
-->
	<section class='section' id='contacto'>
		<div class='container' ng-controller='ContactCtrl'>
			<div class='row'>
				<div class='col-md-8 centrado nofloat'>
					<div class='overview'>
						<h3 class='animate' data-animate='fadeInUp'>
							Contacto
						</h3>
						<div class='col-lg-3 data-contact'>
							<!--
<img alt='' class='animate' data-animate='fadeInUp' src='img/ico-send.png'>
<span class='animate' data-animate='fadeInUp'>
mejor-industria-ti@googlegroups.com
</span>
-->
						</div>
						<div class='col-lg-6 data-contact'>
							<img alt='' class='animate' data-animate='fadeInUp' src='img/ico-send.png'>
							<span class='animate' data-animate='fadeInUp'>
								mejor-industria-ti@googlegroups.com
							</span>
							<!--
<div class='col-lg-3 data-contact'>
<img alt='' class='animate' data-animate='fadeInUp' src='img/ico-phone.png'>
<span class='animate' data-animate='fadeInUp'>
+38 066 475 30 22
</span>
</div>
-->
						</div>
					</div>
					<form class='contact-form animate' data-animate='fadeInUp' name='form' ng-submit='processForm()'>
						<div class='row'>
							<div class='col-lg-6 form-group'>
								<input name='name' ng-model='contactForm.name.value' placeholder='Nombre' type='text'>
								<span class='help-block' ng-show='contactForm.name.errors'>
									*{{contactForm.name.errors}}
								</span>
							</div>
							<div class='col-lg-6 form-group'>
								<input name='email' ng-model='contactForm.email.value' placeholder='E-Mail' type='email'>
								<span class='help-block' ng-show='contactForm.email.errors'>
									*{{contactForm.email.errors}}
								</span>
							</div>
						</div>
						<div class='row'>
							<div class='col-lg-6 form-group'>
								<input name='phone' ng-model='contactForm.phone.value' placeholder='Teléfono' type='text'>
								<span class='help-block' ng-show='contactForm.phone.errors'>
									*{{contactForm.phone.errors}}
								</span>
							</div>
							<div class='col-lg-6 form-group'>
								<input name='company' ng-model='contactForm.company.value' placeholder='Empresa' type='text'>
								<span class='help-block' ng-show='contactForm.company.errors'>
									*{{contactForm.company.errors}}
								</span>
							</div>
						</div>
						<div class='row'>
							<div class='col-lg-12 form-group'>
								<textarea name='message' ng-model='contactForm.message.value' placeholder='Mensaje' rows='1'></textarea>
								<span class='help-block' ng-show='contactForm.message.errors'>
									*{{contactForm.message.errors}}
								</span>
							</div>
						</div>
						<div class='overview'>
							<div class='col-lg-12 mensaje-enviado'>
								<span ng-show='form.$submitted'>
									{{sendStatus}}
								</span>
							</div>
							<div class='col-lg-3'></div>
							<div class='col-lg-6'>
								<input type='submit' value='Hablemos'>
							</div>
							<div class='col-lg-3'></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--
==================================================
End Contacto
-->
	<!--
Footer
==================================================
-->
	<footer class='section' data-animate='fadeIn'>
		<div class='container acenter'>
			<img alt='' class='centrado' src='img/logo-transparente.png'>
			<ul>
				<li>
					<a class='yt' href='https://www.youtube.com/channel/UCNolMQVn1PJSlShdQ5jj-CQ'></a>
				</li>
				<li>
					<a class='in' href='https://www.instagram.com/miti.cl/'></a>
				</li>
				<li>
					<a class='ln' href='https://www.linkedin.com/company/mitiporunamejorindustriati'></a>
				</li>
				<li>
					<a class='tw' href='https://twitter.com/miti_chile'></a>
				</li>
			</ul>
			<p class='nomb nomt col-lg-4 nofloat center'>
				©2022 MITI, todos los derechos reservados.
			</p>
		</div>
	</footer>
	<!--
==================================================
End Footer
-->


	<script src="js/angular.min.js?1659031171" type="text/javascript"></script>
	<script src="js/angular-resource.min.js?1659031171" type="text/javascript"></script>
	<script src="js/controllers.js?1659031171" type="text/javascript"></script>
	<script src="js/all.js?1659031178" type="text/javascript"></script>
	<script src="js/analytics.js?1659031172" type="text/javascript"></script>
	<script>
		var revapi;
		jQuery(document).ready(function () {
			revapi = jQuery('.tp-banner').revolution(
				{
					dottedOverlay: "none",
					delay: 16000,
					startwidth: 1170,
					startheight: 700,
					hideThumbs: 200,

					thumbWidth: 100,
					thumbHeight: 50,
					thumbAmount: 5,

					navigationType: "bullet",

					touchenabled: "on",
					onHoverStop: "on",

					swipe_velocity: 0.7,
					swipe_min_touches: 1,
					swipe_max_touches: 1,
					drag_block_vertical: false,

					parallax: "mouse",
					parallaxBgFreeze: "on",
					parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

					keyboardNavigation: "off",

					navigationHAlign: "center",
					navigationVAlign: "bottom",
					navigationHOffset: 0,
					navigationVOffset: 20,


					shadow: 0,
					fullWidth: "off",
					fullScreen: "on",

					shuffle: "off",

					autoHeight: "off",
					forceFullWidth: "off",

					hideThumbsOnMobile: "off",
					hideNavDelayOnMobile: 1500,
					hideBulletsOnMobile: "off",
					hideArrowsOnMobile: "off",
					hideThumbsUnderResolution: 0,

					hideSliderAtLimit: 0,
					hideCaptionAtLimit: 0,
					hideAllCaptionAtLilmit: 0,
					startWithSlide: 0
				});
		}); //ready
	</script>
</body>

</html>