<!DOCTYPE html>
<html lang='es' ng-app='miti'>
<head>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<meta content='Somos una comunidad de empresas tecnológicas chilenas, que buscamos subir la vara de la industria nacional a través de la excelencia en la generación de valor, entornos humanos y desarrollos tecnológicos.' name='description'>
<meta content='keyword,s' name='keywords'>
<meta content='MITI' name='author'>
<meta content='0000000' property='fb:app_id'>
<meta content='http://www.miti.cl' property='og:url'>
<meta content='Mejor Industria TI' property='og:title'>
<meta content='http://www.miti.cl/img/logo_box.png' property='og:image'>
<meta content='Somos una comunidad de empresas tecnológicas chilenas, que buscamos subir la vara de la industria nacional a través de la excelencia en la generación de valor, entornos humanos y desarrollos tecnológicos.' property='og:description'>
<link href='img/favicon.ico' rel='shortcut icon'>
<link href="../css/all.css?1659031168" rel="stylesheet" type="text/css" />
<link crossorigin='anonymous' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' rel='stylesheet'>
<title>
Title
</title>
<!--[if lt IE 9]> <script src="js/ie8-responsive-file-warning.js"></script> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"> </script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->
</head>
<body class='partial partial_slider'>
<section class='section tp-banner-container' id='inicio'>
<div class='tp-banner'>
<ul>
<li data-duration='12000' data-masterspeed='700' data-slotamount='5' data-transition='fade'>
<img alt='slidebg1' data-bgfit='cover' data-bgposition='30% 40%' data-bgrepeat='no-repeat' src='img/fondo.jpg'>
<div class='tp-caption boxllamado col-lg-6 col-md-6' data-captionhidden='on' data-endspeed='300' data-speed='800' data-start='800' data-x='0' data-y='275'>
<h2>
Asociación por una
<br>
MEJOR
<b>INDUSTRIA TI</b>
</h2>
<p>
Somos una comunidad de empresas tecnológicas chilenas,
<br>
que buscamos subir la vara de la industria nacional a través de la excelencia
<br>
en la generación de valor, entornos humanos y desarrollos tecnológicos.
</p>
</div>
</img>
</li>
</ul>
</div>
</section>

<script src="../js/angular.min.js?1659031171" type="text/javascript"></script>
<script src="../js/angular-resource.min.js?1659031171" type="text/javascript"></script>
<script src="../js/controllers.js?1659031171" type="text/javascript"></script>
<script src="../js/all.js?1659031178" type="text/javascript"></script>
<script src="../js/analytics.js?1659031172" type="text/javascript"></script>
<script>
  var revapi;
  	jQuery(document).ready(function() {
  		revapi = jQuery('.tp-banner').revolution(
  		{
  		dottedOverlay:"none",
  			delay:16000,
  			startwidth:1170,
  			startheight:700,
  			hideThumbs:200,
  			
  			thumbWidth:100,
  			thumbHeight:50,
  			thumbAmount:5,
  			
  			navigationType:"bullet",
  			
  			touchenabled:"on",
  			onHoverStop:"on",
  			
  			swipe_velocity: 0.7,
  			swipe_min_touches: 1,
  			swipe_max_touches: 1,
  			drag_block_vertical: false,
  									
  			parallax:"mouse",
  			parallaxBgFreeze:"on",
  			parallaxLevels:[7,4,3,2,5,4,3,2,1,0],
  									
  			keyboardNavigation:"off",
  			
  			navigationHAlign:"center",
  			navigationVAlign:"bottom",
  			navigationHOffset:0,
  			navigationVOffset:20,
  
  					
  			shadow:0,
  			fullWidth:"off",
  			fullScreen:"on",
  
  			shuffle:"off",
  			
  			autoHeight:"off",						
  			forceFullWidth:"off",						
  
  			hideThumbsOnMobile:"off",
  			hideNavDelayOnMobile:1500,						
  			hideBulletsOnMobile:"off",
  			hideArrowsOnMobile:"off",
  			hideThumbsUnderResolution:0,
  			
  			hideSliderAtLimit:0,
  			hideCaptionAtLimit:0,
  			hideAllCaptionAtLilmit:0,
  			startWithSlide:0
  		});
  }); //ready
</script>
</body>
</html>
